/*
 Javier Djorkaef Saavedra Mendiola
 624198
 Yo doy mi palabra que hemos realizado esta actividad con integridad academica
*/
body{
  font-size: clamp(1rem,4vw,3rem);
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px auto 1fr auto 40px 80px;
  grid-template-areas:
  "header"
  "widget1"
  "main"
  "widget2"
  "sidebar"
  "footer";
}

header{ grid-area: header;background: #09BC8A;}
nav{ grid-area: sidebar; padding: 20px; background: #74B3CE; }
#widget1{ grid-area: widget1; padding: 20px; background: #d8f793;}
#widget2{ grid-area: widget2; padding: 20px; background: #32a852;}
main{ grid-area: main; background: #F7EBEC;}
footer{ grid-area:footer; background: #DB7F67;}

header, nav, main, footer, #widget1, #widget2{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  body {
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px auto 1fr 1fr 60px;
    grid-template-areas: 
    "header header"
    "sidebar sidebar"
    "widget1 main"
    "widget2 main"
    "footer footer";
  }
}

@media screen and (min-width: 1024px) {
  body {
    grid-template-columns: 220px 1fr 280px;
    grid-template-rows: 80px 1fr 1fr 1fr 80px;
    grid-template-areas: 
    "header header header"
    "sidebar main widget1"
    "sidebar main widget1"
    "sidebar main widget2"
    "footer footer footer";
  }
}