/* Primero quise empezar con el fondo y los bloques que forman el contenido, siendo las secciones de los encabezados, main, header, article y footer*/

body{
  margin:0; 
  font-family: Arial, sans-serif;
}

header {
  background:#0d6efd;
  color:white; 
  padding:16px;
}

#site-title {
  margin: 0;
  font-size: 28px;
}

h2 {
  margin: 0 0 8px;
  font-size: 24px;
}
h3{
  margin:0 0 8px 0;
}

.nav-Text {
  color:white; 
  text-decoration:none; 
  margin-right: 12px;
}

main {
  padding:16px;
}

/* Al ver ejemplos en W3Schools también note que puedes poner varias id o clases con una coma para que tengan los mismo */
#home, #contacto{
  margin-bottom:24px;
}

/* Esta forma la vi que la utilizaban en W3Schools para utilizar un elemento dentro de una clase o contenedor. */

#home > p {
  color: #555;
  line-height: 1.5;
}

button{
  background:#198754; 
  color:white; 
  border:none; 
  padding:10px 16px;
  border-radius:6px;
  cursor:pointer;
}

#productos{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:16px;
  margin-bottom:24px;
}

article{
  border:1px solid #ddd;
  border-radius:8px;
  padding:12px;
}

/* Al igual que al inicio copie esta estructura de unos ejemplos de W3Schools para poder seleccionar elementos */

article > p{
  color:#666;
  margin:0 0 12px 0;
}

/* En ves de utilizar la tecnica anterior de los elementos dentro de un contenido, creo que es mejor darle el id a los elementos que sean de precio para poder poner mas elementos en el futuro*/

#price {
  display:inline-block;
  background:#ffeeba;
  color:#664d03;
  padding:4px 8px;
  border-radius:4px;
}

#contacto > a{
  color:#0d6efd;
  text-decoration:underline;
}

footer{
  background:#f8f9fa;
  color:#333; 
  text-align:center; 
  padding:12px;
}